@font-face {
    font-family: 'Zen-serif';
    src: url(../../fonts/ZEN-SERIF-TTF-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.typo-grid{
    max-width: var(--grid);
    margin: 0 auto;
}

.sunset-gradient{
    background: linear-gradient(to bottom, var(--color-sky-100), var(--color-sky-200));
}